@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181818;
  --foreground: #ffffff;
  --accent-1: #97C6DF;
  --accent-2: #A1D0F2;
  --accent-3: #2C4F64;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
